#data-container {
    width: 60vw;
    height: 25vh;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    position: absolute;
    left: 20vw;
    top: 32vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

#data-container #text-container {
    margin: auto 0;
    margin-left: 2vw;
}